version: '3.8'

services:
  db:
    image: mariadb:10.6
    container_name: hotel_db
    restart: always
    environment:
      MYSQL_DATABASE: HotelBookingDb     
      MYSQL_USER: hoteluser              
      MYSQL_PASSWORD: hotelpassword      
      MYSQL_ROOT_PASSWORD: rootpassword  
    ports:
      - "3306:3306"                      
    volumes:
      - mysql_data:/var/lib/mysql        


  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - db

volumes:
  mysql_data: